<!DOCTYPE html>
<html lang="ru" ng-app="searchlinkApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title></title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>
</head>
<body ng-controller="SearchLinkController">
<form id="main-form" action="">
  <fieldset>
    <legend> Введите список доменов </legend>
    <textarea class="site-input" name="site-items" cols="30" rows="20" ng-model="data"></textarea>
    <br>
    <button class="btn" type="button" ng-click="getData()">Преобразовать</button>
    <button class="btn clear-form" type="button" ng-click="clearDomainList()">Очистить список</button>
  </fieldset>
  <fieldset>
    <legend> Финальный список </legend>
    <textarea class="ta-output" name="site-items" cols="30" rows="20" ng-model="finalList"></textarea>
    <button class="btn" type="button" ng-click="printFinalList()">Вывести финальный список</button>
  </fieldset>
</form>
<section class="site-list">
    <div class="link-wrap" ng-repeat="domain in array">
        <h4 class="link-wrap-header">{{ domain }}</h4>
        <a target="_blank" class="site-link" href="https://yandex.ru/yandsearch?s=all&text=host%3Awww.{{ domain }}%20%7C%20host%3A{{ domain }}">yandex</a>
        <a target="_blank" class="site-link" href="https://www.google.ru/search?newwindow=1&safe=off&q=site:{{ domain }}&cad=h">google</a>
        <a target="_blank" class="site-link" href="https://go.mail.ru/search?site={{ domain }}&advs=1&q={{ domain }}">mail</a>
        <br>
        <button class="btn btn-status" data-status="not-check">status</button>
        <button class="btn del-btn" type="button" ng-click="removeDomain(domain)">Удалить</button>
    </div>
</section>

<script src="app.js"></script>
</body>
</html>
